@import "~antd/dist/antd.less";

:root {
  --color-bg: #191505;
  --color-primary: #9e7d26;
  --color-secondary:rgba(206, 183, 125, 0.15);
  --color-title: white;
  --color-subtitle: #aeaeae;
  --color-label:#626262;

  --size-desktop:1400px;
}

* {
  font-family: "Gilroy";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 40px var(--color-bg); 
  border-radius: 100px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary); 
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dcbd6e; 
}


.App {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-bg);
}

.t-primary {
  color: var(--color-primary);
}
.t-subtitle {
  color: var(--color-subtitle);
}

.t-label{
  color:var(--color-label);
}

h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 80px;
}
h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}
h3 {
  font-weight: 600;
  font-size: 32px;
}
h4 {
  font-weight: 600;
  font-size: 20px;
}
h5 {
  font-weight: 600;
  font-size: 16px;
}
