@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url(./Assets/fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url(./Assets/fonts/Gilroy-ExtraBold.otf);
  }
  