.home-page-wrapper {
    min-width: var(--size-desktop);
    overflow: hidden;
}

.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #231900;
    box-shadow: 0px 4px 100px #231900, inset 0px 4px 15px rgba(191, 137, 0, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 60px;
    cursor: pointer;
}

.arrow-btn:hover {
    opacity: 0.8;
}

.featured-btn {
    cursor: default;
    font-size: 16px;
    padding: 8px 24px;
    background: #9e7d26;
    border-radius: 6px;
}

.simple-steps-wrap-top {
    overflow: hidden;
    width: 422px;
    height: 488px;
    border-radius: 25px;
}

.simple-steps-wrap-bottom {
    width: 564px;
    height: 352px;
    filter: drop-shadow(0px 4px 100px #040200);
    border-radius: 25px;
}

.btn-check-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100px;
    width: 42px;
    height: 42px;
    background: linear-gradient(180deg, #9e7d26 0%, #ceb77d 100%);
}

.check-list-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
